In [51]:
 # Import module---------------------------------------------
    
import pandas as pd

# Define path to file-----------------------------------------

mainfile = ("Resources/"
        "02-Homework_04-Pandas_Instructions_"
        "HeroesOfPymoli_Resources_purchase_data.csv"
        )

# Read the file-----------------------------------------------

purchase_data = pd.read_csv(mainfile)

In [64]:
# Total Number of Players-------------------------------------

player_count = len(purchase_data["SN"].unique())
player_count

# Print out data----------------------------------------------

player_total = pd.DataFrame(
    {"Total Players": [player_count]})
player_total

   Total Players
0            576

In [154]:
# Quick formatting-------------------------------------------

ff=("${:.2f}")

# Number of Unique Items-------------------------------------

unique_item_count = len(purchase_data["Item ID"].unique())

# Average Purchase Price-------------------------------------

avg_price = (ff).format(purchase_data["Price"].mean())

# Total Number of Purchases----------------------------------

total_purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue----------------------------------------------

total_revenue = (ff).format(purchase_data["Price"].sum())

# Print out data---------------------------------------------

price_table = pd.DataFrame([{
    "Number of Unique Items": unique_item_count, 
    "Average Price": avg_price,
    "Number of Purchases": total_purchases,
    "Total Revenue": total_revenue,
        }], 
    
columns=([
    "Number of Unique Items", 
    "Average Price", 
    "Number of Purchases", 
    "Total Revenue"
        ]))

price_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [157]:
# Make a percentage function for prettier code------------------

def percent(expression):
    if "%" in expression:
        expression = expression.replace("%","*100")
    return eval(expression)

qf=("{:.2f}%")

# Percentage and Count of Male Players--------------------------

male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_count = len(male_players["SN"].unique())
male_percent = (qf).format(percent("male_count / player_count %"))

# Percentage and Count of Female Players------------------------

female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_count = len(female_players["SN"].unique())
female_percent = (qf).format(percent("female_count / player_count %"))

# Percentage and Count of Other / Non-Disclosed------------------

other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_count = len(other_players["SN"].unique())
other_percent = (qf).format(percent("other_count / player_count %"))

# Print out data-------------------------------------------------

gender_table = pd.DataFrame([{
    
    "Gender": "Male", 
    "Total Count": male_count, 
    "Percentage of Players": male_percent}, 
    
    {"Gender": "Female", 
     "Total Count": female_count, 
     "Percentage of Players": female_percent}, 
    
    {"Gender": "Other / Non-Disclosed", 
     "Total Count": other_count, 
     "Percentage of Players": other_percent
    }], 
    
columns=(["Gender", 
          "Total Count", 
          "Percentage of Players"
         ]))

gender_table = gender_table.set_index("Gender")
gender_table

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%