In [1]:
# Note to self: clean code and add in instructions from starter.ipynb
# Import module---------------------------------------------
    
import pandas as pd

# Define path to file-----------------------------------------

mainfile = ("Resources/"
        "02-Homework_04-Pandas_Instructions_"
        "HeroesOfPymoli_Resources_purchase_data.csv"
        )

# Read the file-----------------------------------------------

purchase_data = pd.read_csv(mainfile)

In [2]:
# Total Number of Players-------------------------------------

player_count = len(purchase_data["SN"].unique())
player_count

# Print out data----------------------------------------------

player_total = pd.DataFrame(
    {"Total Players": [player_count]})
player_total

   Total Players
0            576

In [3]:
# Quick formatting-------------------------------------------

ff=("${:,.2f}")

# Number of Unique Items-------------------------------------

unique_item_count = len(purchase_data["Item ID"].unique())

# Average Purchase Price-------------------------------------

avg_price = (ff).format(purchase_data["Price"].mean())

# Total Number of Purchases----------------------------------

total_purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue----------------------------------------------

total_revenue = (ff).format(purchase_data["Price"].sum())

# Print out data---------------------------------------------

price_table = pd.DataFrame([{
    "Number of Unique Items": unique_item_count, 
    "Average Price": avg_price,
    "Number of Purchases": total_purchases,
    "Total Revenue": total_revenue,
        }], 
    
columns=([
    "Number of Unique Items", 
    "Average Price", 
    "Number of Purchases", 
    "Total Revenue"
        ]))

price_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
# Make a percentage function for prettier code------------------

def percent(expression):
    if "%" in expression:
        expression = expression.replace("%","*100")
    return eval(expression)

qf=("{:.2f}%")

# Percentage and Count of Male Players--------------------------

male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_count = len(male_players["SN"].unique())
male_percent = (qf).format(percent("male_count / player_count %"))

# Percentage and Count of Female Players------------------------

female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_count = len(female_players["SN"].unique())
female_percent = (qf).format(percent("female_count / player_count %"))

# Percentage and Count of Other / Non-Disclosed------------------

other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_count = len(other_players["SN"].unique())
other_percent = (qf).format(percent("other_count / player_count %"))

# Print out data-------------------------------------------------

gender_table = pd.DataFrame([{
    
    "Gender": "Male", 
    "Total Count": male_count, 
    "Percentage of Players": male_percent}, 
    
    {"Gender": "Female", 
     "Total Count": female_count, 
     "Percentage of Players": female_percent}, 
    
    {"Gender": "Other / Non-Disclosed", 
     "Total Count": other_count, 
     "Percentage of Players": other_percent
    }], 
    
columns=(["Gender", 
          "Total Count", 
          "Percentage of Players"
         ]))

gender_table = gender_table.set_index("Gender")
gender_table

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [5]:
# Purchase Counts-----------------------------------------------------------

male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_purchase_count = len(male_purchases)

female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_purchase_count = len(female_purchases)

other_purchases = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_purchase_count = len(other_purchases)

# Average Purchase Prices------------------------------------------------------

avg_male_price = (ff).format(float(purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()))

avg_female_price = (ff).format(float(purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()))

avg_other_price = (ff).format(float(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()))

# Total Purchase Values---------------------------------------------------------

total_male_value = float(purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum())

total_female_value = float(purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum())

total_other_value = float(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum())

# Average Purchase Totals by Gender------------------------------------------------

avg_male_summary = (ff).format(float(total_male_value / male_count))
avg_female_summary = (ff).format(float(total_female_value / female_count))
avg_other_summary = (ff).format(float(total_other_value / other_count))

# Print out data--------------------------------------------------------------------
gender_purchase_table = pd.DataFrame([{
    
    "Gender": "Female", 
    "Purchase Count": female_purchase_count, 
    "Average Purchase Price": avg_female_price, 
    "Total Purchase Value": (ff).format(total_female_value), 
    "Avg Total Purchase per Person": avg_female_summary}, 
    
    {"Gender": "Male", "Purchase Count": male_purchase_count, 
     "Average Purchase Price": avg_male_price, 
     "Total Purchase Value": (ff).format(total_male_value), 
     "Avg Total Purchase per Person": avg_male_summary}, 
    
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchase_count, 
     "Average Purchase Price": avg_other_price, 
     "Total Purchase Value": (ff).format(total_other_value), 
     "Avg Total Purchase per Person": avg_other_summary
    }], 
    
columns=(["Gender", 
          "Purchase Count", 
          "Average Purchase Price", 
          "Total Purchase Value", 
          "Avg Total Purchase per Person"
         ]))

gender_purchase_table = gender_purchase_table.set_index("Gender")
gender_purchase_table.index.name = "Gender"
gender_purchase_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
# Establish Bins for Ages-----------------------------------

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
group_names = ([
                 "<10", 
                 "10-14", 
                 "15-19", 
                 "20-24", 
                 "25-29", 
                 "30-34", 
                 "35-39", 
                 "40+"
                ])

purchase_data["Age Group"] = (pd.cut(purchase_data["Age"], 
                                     bins=age_bins, 
                                     labels=group_names))

age_group = purchase_data.groupby("Age Group")

# Total Players by Age---------------------------------------

total_player_age = age_group["SN"].nunique()

# Percentages by Age------------------------------------------

percent_by_age = percent("total_player_age / player_count %")

# Print out data----------------------------------------------

age_table = pd.DataFrame({
    "Total Count": total_player_age, 
    "Percentage of Players": percent_by_age
    })

age_table["Percentage of Players"] = age_table["Percentage of Players"].apply("{0:,.2f}%".format)
age_table

# Note: The "nunique" function gave me fits when trying to apply my formatting in-line, so I had to apply  it later.

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [7]:
# Reused bins and changed header name------------------------------

purchase_data["Age Ranges"] = (pd.cut(purchase_data["Age"], 
                                     bins=age_bins, 
                                     labels=group_names))

age_group = purchase_data.groupby("Age Ranges")

# Purchase Count------------------------------------------------

age_purchase_count = age_group["SN"].count()

# Average Purchase Price-------------------------------------------

avg_age_price = round(age_group["Price"].mean(),2)

# Total Purchase Value---------------------------------------------

total_age_value = round(age_group["Price"].sum(),2)

# Total Purchase per Person-----------------------------------------

avg_total_age_purchase = round(total_age_value / total_player_age,2)

# Print out data-----------------------------------------------------

age_purchase_table = pd.DataFrame({
    
    "Purchase Count": age_purchase_count, 
    "Average Purchase Price": avg_age_price,
    "Total Purchase Value": total_age_value,
    "Avg Total Purchase per Person": avg_total_age_purchase
    })

age_purchase_table["Average Purchase Price"] = age_purchase_table["Average Purchase Price"].apply("${0:,.2f}".format)
age_purchase_table["Total Purchase Value"] = age_purchase_table["Total Purchase Value"].apply("${0:,.2f}".format)
age_purchase_table["Avg Total Purchase per Person"] = age_purchase_table["Avg Total Purchase per Person"].apply("${0:,.2f}".format)
age_purchase_table

# Struggled with similiar issues as noted before with special formatting.

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19